# Configurações do JWT
JWT_SECRET=sua_chave_secreta_muito_segura_aqui

# Configurações do ambiente
NODE_ENV=production

# Configurações de porta (opcional)
PORT=3000

# Configurações do banco de dados (se necessário no futuro)
# DATABASE_URL="mysql://usuario:senha@localhost:3306/nome_do_banco"

# Configurações de API externa (se necessário)
# API_BASE_URL="https://ev.playcom.net.br/wp-json/qrbrasil/v1" 